@(registros: List[TRep4],anio:Integer)
@import scala.math.BigDecimal
@import helper._

@css={
}

@js={
    <script src="@routes.Assets.versioned("javascripts/export/tableExport.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/export/jquery.base64.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/export/html2canvas.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/export/jspdf/libs/sprintf.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/export/jspdf/jspdf.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/export/jspdf/libs/base64.js")" type="text/javascript"></script>
}

@breadcrumb = {
	<ul class="breadcrumb">
		<li class=""><a href="/tactico">Tactico</a></li>
		<li class="active"><a href="#">Reporte 4</a></li>
	</ul>
}
@tactico.base("Reporte 4","Semi-Resumen de estudiantes que han solicitado pruebas de aptitud por año","4",css,js,breadcrumb){

    <br>
    <br>

    <div class="text-center row">
        <div class="col-sm-4"></div>
        <form method="post" action="@routes.TacticoController.pdf_rep4()">
            <input type="text" name="anio" value="@anio" hidden="true" />
            <button type="submit" class="btn btn-success col-sm-2">Ver en PDF</button>
        </form>
         <button type="button" class="btn btn-warning col-sm-2" onclick="$('#reporte-table').tableExport({type:'excel',escape:'false'});">Exportar Excel</button>
        <div class="col-sm-4"></div>
    </div>

    <br>

    <div class="text-center row">
        <img src="@routes.Assets.versioned("images/logo_ues.png")">
    </div>
    
    <div class="text-center row">
        <p><strong>Año:</strong> @anio &nbsp;&nbsp;&nbsp;  </p>
    </div>

    <div class="text-center row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        <table class="table table-condensed table-bordered table-striped" id="reporte-table">
            <thead>
            <tr>
                <th>No</th>
                <th>Alumno</th>
                <th>Nombre Carne</th>
                <th>Carrera de origen</th>
                <th>Carrera destino</th>
                
            </tr>
            </thead>
            <tbody>

                @for((row, index) <- registros.reverse.zipWithIndex) {
                    <tr>
                        <td>@(index+1)</td>
                        <td>@row.alumno</td>
                        <td>@row.carne</td>
                        <td>@row.carrera_origen</td>
                        <td>@row.carrera_solicitada</td>

                    </tr>
                }

            </tbody>
        </table>
        </div>
        <div class="col-sm-2"></div>
    </div>
    

}
