@(usuario_form: Form[Usuario], usuarios_list: List[Usuario] )
@import helper._

@css={
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-table.css")">
}

@js={
	<script src="@routes.Assets.versioned("javascripts/bootstrap-table.js")" type="text/javascript"></script>

	<!--fix modal open at edit-->
	@if(flash.containsKey("modal")) {
		<script>
	    	$(window).load(function(){
	        	$('#@flash.get("modal")').modal('show');
	    	});
	    </script>
	}


	<!-- fix modal close at edit -->
	<script>
		$('.modal').on('hidden.bs.modal', function () {
			if(window.location.pathname!='@routes.AdministradorController.usuarios'){
				
				window.location='@routes.AdministradorController.usuarios';
			}	
		});
	</script>
}

@breadcrumb = {
	<ul class="breadcrumb">
		<li class=""><a href="/administrador">Administrador</a></li>
		<li class="active"><a href="#">Usuarios</a></li>
	</ul>
}


@administrador.base("Administrar Usuarios","Gestion de usuarios","usuarios",css,js,breadcrumb){
	

	<button type="button" id="main-add-button" class="btn btn-primary" data-toggle="modal" data-target="#mod-new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Usuario</button>

	@if(flash.containsKey("exito")){
		<div class="alert alert-success fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<strong>@flash.get("exito")</strong>
		</div>
	}


  	<!-- Modal -->
	<div class="modal fade" id="mod-new" role="dialog">

		<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			@form(action=routes.AdministradorController.usuario_new()){
				 
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Agregar nuevo usuario</h4>
				</div>
				
				<!--Errores globales y automaticos del formulario se muestran-->
				@if(usuario_form.hasGlobalErrors) {
					@for(error <- usuario_form.globalErrors) {
						<div class="alert alert-danger">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
						</div>
					}
				}

				<!--Errores globales manuales se muestran-->
				@if(flash.containsKey("error")){
					<div class="alert alert-danger fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						<strong>@flash.get("error")</strong>
					</div>
				}
				<div class="modal-body">



					@for(error <- usuario_form("nombre").errors) {
						<div class="alert alert-danger">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
						</div>
					}
	        		 <div class="form-group">
	        		 	@inputText(usuario_form("nombre"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Nombre del usuario", '_label -> "Nombre: ")
	        		 </div>


					@for(error <- usuario_form("tipo.id").errors) {
						<div class="alert alert-danger">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
						</div>
					}
	        		 <div class="form-group">
						@select(usuario_form("tipo.id"), options(TipoUsuario.options), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Tipo de Usuario",'_label -> "Tipo de Usuario: ")
					 </div>


					@for(error <- usuario_form("username").errors) {
						<div class="alert alert-danger">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
						</div>
					}
					 <div class="form-group">
						@inputText(usuario_form("username"), '_showConstraints -> false, '_showErrors -> false ,'class -> "form-control", 'placeholder -> "Juan",'_label -> "Usuario: ")
					 </div>


					@for(error <- usuario_form("password").errors) {
						<div class="alert alert-danger">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
						</div>
					}
					 <div class="form-group">
						@inputText(usuario_form("password"),'type -> "password", '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Use contraseñas seguras",'_label -> "Contraseña: ")
					 </div>


					@for(error <- usuario_form("password_confirmation").errors) {
						<div class="alert alert-danger">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
						</div>
					}
					 <div class="form-group">
						@inputText(usuario_form("password_confirmation"),'type -> "password", '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Use contraseñas seguras",'_label -> "Confirme Contraseña: ")
					 </div>




				</div>
				<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
				</div>
			}
		</div>

		</div>
	</div>

                	





	<div class="table-responsive">
		<div class="form-group pull-right">
		<input type="text" class="search form-control" placeholder="Busqueda">
	</div>
	<span class="counter pull-right"></span>
	<table class="table table-hover table-bordered results">
		<thead>
			<tr>
				<th>Id</th>
				<th class="col-md-5 col-xs-5">Nombre</th>
				<th class="col-md-4 col-xs-4">Tipo</th>
				<th class="col-md-3 col-xs-3">Usuario</th>
				<th class="col-md-3 col-xs-3 center-column">Editar</th>
				<th class="col-md-3 col-xs-3 center-column">Eliminar</th>
			</tr>
			<tr class="warning no-result">
				<td colspan="4"><i class="fa fa-warning"></i> No hay resultados</td>
			</tr>
		</thead>
		<tbody>
			@for(usuario <- usuarios_list){
				<tr>
					<td>@usuario.id</td>
					<td>@usuario.nombre</td>
					<td>@usuario.tipo.nombre</td>
					<td>@usuario.username</td>
					<td><button class="btn btn-success btn-xs" data-toggle="modal" data-target="#mod-edit-@usuario.id"><span class="glyphicon glyphicon-edit"></span> Editar</button></td>
					<td><button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#mod-remove-@usuario.id"><span class="glyphicon glyphicon-trash"></span> Eliminar</button></td>
				</tr>



				<!-- Modal -->
				<div class="modal fade" id="mod-edit-@usuario.id" role="dialog">
					
					<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						@form(action=routes.AdministradorController.usuario_edit(usuario.id)){
							
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Editar usuario: @usuario.nombre</h4>
								</div>
								
								<!--Errores globales y automaticos del formulario se muestran-->
								@if(usuario_form.hasGlobalErrors) {
									@for(error <- usuario_form.globalErrors) {
										<div class="alert alert-danger">
											<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
											<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
										</div>
									}
								}

								<!--Errores globales manuales se muestran-->
								@if(flash.containsKey("error")){
									<div class="alert alert-danger fade in">
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
										<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
										<strong>@flash.get("error")</strong>
									</div>
								}
								<div class="modal-body">


									 <div class="form-group">
					        		 	@inputText(usuario.getForm()("id"), '_showConstraints -> false, 'readonly -> "readonly" , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Id", '_label -> "Id: ")
					        		 </div>


									@for(error <- usuario_form("nombre").errors) {
										<div class="alert alert-danger">
											<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
											<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
										</div>
									}
					        		 <div class="form-group">
					        		 	@inputText(usuario.getForm()("nombre"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Nombre del usuario", '_label -> "Nombre: ")
					        		 </div>


									@for(error <- usuario_form("tipo.id").errors) {
										<div class="alert alert-danger">
											<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
											<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
										</div>
									}
					        		 <div class="form-group">
										@select(usuario.getForm()("tipo.id"), options(TipoUsuario.options), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Tipo de Usuario",'_label -> "Tipo de Usuario: ")
									 </div>


									@for(error <- usuario_form("username").errors) {
										<div class="alert alert-danger">
											<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
											<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
										</div>
									}
									 <div class="form-group">
										@inputText(usuario.getForm()("username"), '_showConstraints -> false, '_showErrors -> false ,'class -> "form-control", 'placeholder -> "sn036156",'_label -> "Usuario: ")
									 </div>


									@for(error <- usuario_form("password").errors) {
										<div class="alert alert-danger">
											<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
											<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
										</div>
									}
									 <div class="form-group">
										@inputText(usuario.getForm()("password"),'type -> "password", '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Use contraseñas seguras",'_label -> "Contraseña: ")
									 </div>


									@for(error <- usuario_form("password_confirmation").errors) {
										<div class="alert alert-danger">
											<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
											<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
										</div>
									}
									 <div class="form-group">
										@inputText(usuario.getForm()("password_confirmation"),'type -> "password", '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Use contraseñas seguras",'_label -> "Confirme Contraseña: ")
									 </div>




								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
									<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar</button>
								</div>
							</div>
						}
					</div>
				</div>





				<!-- Modal -->
				<div class="modal fade" id="mod-remove-@usuario.id" role="dialog">
					<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Eliminar usuario: @usuario.nombre</h4>
							</div>
							<div class="modal-body">

								¿Esta seguro que desea eliminar el usuario?.
								El usuario ya no tendra acceso al sistema.


							</div>
							<div class="modal-footer">
								<form>
								<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>							
								<button type="submit" class="btn btn-danger" formmethod="POST" formaction="@routes.AdministradorController.usuario_remove(usuario.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar</button>
								</form>
							</div>
						</div>

					</div>
				</div>


			}
		</tbody>
	</table>
	</div>


}