

@import helper._

@css={
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/zebra_metallic.css")">
}

@js={
	<script src="@routes.Assets.versioned("javascripts/zebra_datepicker.js")" type="text/javascript"></script>

    <script>

		$(document).ready(function() {

		    // assuming the controls you want to attach the plugin to
		    // have the "datepicker" class set
            $('input.datepicker').Zebra_DatePicker({
                format: 'Y',
            });

		});

	</script>
}

@breadcrumb = {
	<ul class="breadcrumb">
		<li class=""><a href="/estrategico">Estratégico</a></li>
		<li class="active"><a href="#">Reporte 1</a></li>
	</ul>
}


@estrategico.base("Reporte 1","Resumen de materias más reprobadas de la FIA por carrera año y ciclo ","1",css,js,breadcrumb){

    <br>
    <br>

    <form class="form-horizontal" role="form" method="post" action="@routes.EstrategicoController.procesar_rep1">

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="carrera" class="col-sm-2 control-label">Carrera</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="carrera" name="carrera">
                                <option value="Arquitectura">Arquitectura</option>
                                <option value="Ing. Civil">Ing. Civil</option>
                                <option value="Ing. Industrial">Ing. Industrial</option>
                                <option value="Ing. Mecanica">Ing. Mecanica</option>
                                <option value="Ing. Química">Ing. Química</option>
                                <option value="Ing. Sistemas">Ing. Sistemas</option>
                                <option value="Ing. Alimentos">Ing. Alimentos</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="carrera" class="col-sm-2 control-label">Año</label>
                        <div class="col-sm-10">
                            <div class="colinput-append date" id="dp1" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                <input type="text" id="txtDateDesde" name="anio" class="datepicker form-control" data-provide="datepicker" placeholder="Seleccione" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ciclo" class="col-sm-2 control-label">Ciclo</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="ciclo" name="ciclo">
                                <option value="2">Par</option>
                                <option value="1">Impar</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="carrera" class="col-sm-2 control-label">Maximo Registro</label>
                           <div class="col-sm-10">
                                        <div class="colinput-append date" id="max">
                                        <input type="number" id="max" name="max" class="form-control" placeholder="Introducir " />
                                      </div>
                          </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <a href="@routes.EstrategicoController.home()" class="btn btn-default col-sm-12">Cancelar</a>
                        </div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-success col-sm-12">Procesar</button>
                        </div>
                    </div>


                </div>
                <div class="col-sm-3"></div>
            </div>

    </form>

}
